/vendor
/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/app/private/*
!/storage/app/private/.gitkeep
/storage/app/public/*
!/storage/app/public/.gitkeep
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/logs/*
!/storage/logs/.gitkeep
.env
.env.backup
.phpunit.result.cache
auth.json